@use '../../styles/mixins.scss';

.input {
  position: relative;
  width: 100%;

  .inputLabel {
    margin-top: 0;
    margin-bottom: 12px;
    color: var(--gray-700);
  }

  .inner {
    @include mixins.flex(row);
    overflow: hidden;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background: var(--white);
    border: 1px solid var(--gray-300);
    box-shadow: var(--shadow-xs);
  }

  input {
    flex: 1;
    height: 40px;
    padding: 0 16px;
    color: var(--gray-900);
    font-size: 14px;
    line-height: 20px;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;

    &::placeholder {
      color: var(--gray-400);
      opacity: 1;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &_focused {
    .inner {
      border-color: var(--primary-300);
      box-shadow: var(--shadow-focus);
    }

    input::placeholder {
      opacity: 0;
    }
  }

  &_error {
    .inner {
      border-color: var(--error-300);
    }

    &.input_focused .inner {
      box-shadow: var(--shadow-error);
    }
  }

  &_disabled .inner {
    background: var(--gray-100);
  }
}

.errorMessage {
  position: absolute;
  margin-top: 0px;
  color: var(--error-500);
}

.leftBlock,
.rightBlock {
  display: block;
}
