.badge {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 22px;
  padding: 0px 8px;
  border-radius: 6px;
  width: max-content;

  &_color {
    &_gray {
      background-color: var(--gray-700);
      color: var(--gray-200);
      stroke: var(--gray-300);
    }

    &_primary {
      background-color: var(--primary-700);
      color: var(--primary-200);
      stroke: var(--primary-300);
    }

    &_error {
      background-color: var(--error-700);
      color: var(--error-200);
      stroke: var(--error-300);
    }

    &_warning {
      background-color: var(--warning-700);
      color: var(--warning-200);
      stroke: var(--warning-300);
    }

    &_success {
      background-color: var(--success-700);
      color: var(--success-200);
      stroke: var(--success-300);
    }

    &_blue-gray {
      background-color: var(--blue-gray-700);
      color: var(--blue-gray-200);
      stroke: var(--blue-gray-300);
    }

    &_blue-light {
      background-color: var(--blue-light-700);
      color: var(--blue-light-200);
      stroke: var(--blue-light-300);
    }

    &_blue {
      background-color: var(--blue-700);
      color: var(--blue-200);
      stroke: var(--blue-300);
    }

    &_indigo {
      background-color: var(--indigo-700);
      color: var(--indigo-200);
      stroke: var(--indigo-300);
    }

    &_purple {
      background-color: var(--purple-700);
      color: var(--purple-200);
      stroke: var(--purple-300);
    }

    &_pink {
      background-color: var(--pink-700);
      color: var(--pink-200);
      stroke: var(--pink-300);
    }

    &_rose {
      background-color: var(--rose-700);
      color: var(--rose-200);
      stroke: var(--rose-300);
    }

    &_orange {
      background-color: var(--orange-700);
      color: var(--orange-200);
      stroke: var(--orange-300);
    }

    &_yellow {
      background-color: var(--warning-700);
      color: var(--warning-200);
      stroke: var(--warning-300);
    }
  }

  &_icon_position {
    &_left {
      flex-direction: row;
    }

    &_right {
      flex-direction: row-reverse;
    }
  }

  &_dots {
    min-width: inherit;
  }
}
