@use '../../styles/mixins.scss';

.tabBar {
  @include mixins.flex(row, flex-start, flex-end);

  width: 100%;
  height: 40px;
  border-bottom: 1px solid var(--gray-200);
  gap: 16px;
  padding: 0 16px;
}

.tab {
  @include mixins.flex(row, unset, center);

  height: 40px;
  position: relative;
  cursor: pointer;
  color: var(--gray-500);

  .underline {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    border-radius: 2px 2px 0 0;
    background: var(--primary-700);
    opacity: 0;
  }

  &_active {
    color: var(--primary-700);

    .underline {
      opacity: 1;
    }
  }
}
