html {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: var(--gray-900);
  background: var(--gray-50);
  overflow-y: hidden;
}

:root {
  --transition-property: all;
  --transition-time: 0.3s;
  --transition-function: ease;
}

* {
  box-sizing: border-box;
  transition: var(--transition-property) var(--transition-time)
    var(--transition-function);
}

a {
  text-decoration: none;
}

div {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.recharts-tooltip-wrapper {
  outline: none;
}

.react-flow__node {
  cursor: default !important;
}

#pdf-controls {
  display: none;
}

.react-pdf__Document {
  width: 100%;
  height: 100%;

  #pdf-page-wrapper {
    margin: 0;
  }

  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

#pdf-renderer {
  height: 140px;
  overflow: hidden;
}

#txt-renderer {
  padding: 0;
  font-size: 4px;
  overflow: hidden;
}
