html {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: var(--gray-50);
  stroke: var(--gray-50);
  overflow: hidden;
  background: var(--primary-dark-900);
}

:root {
  --transition-property: all;
  --transition-time: 0.3s;
  --transition-function: ease;
}

* {
  box-sizing: border-box;
  transition: var(--transition-property) var(--transition-time)
    var(--transition-function);
}

a {
  text-decoration: none;
  color: inherit;
}

div {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.recharts-tooltip-wrapper {
  outline: none;
}

.magic-inner-shadows {
  background-image: linear-gradient(
      to right,
      var(--primary-dark-900) 10px,
      rgba(3, 15, 33, 0)
    ),
    linear-gradient(to left, var(--primary-dark-900) 10px, rgba(3, 15, 33, 0)),
    linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)),
    linear-gradient(to left, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  background-position: 0 0, 100% 0, 0 0, 100% 0;
  background-repeat: no-repeat;
  // background-color: white;
  background-size: 50px 100%, 50px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;
}
