.dropdownSearch {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;

  div[class*='inner'] {
    border: none;
    border-bottom: 1px solid var(--primary-dark-800);
    border-radius: 0;
    box-shadow: none !important;
  }
}

.search {
  width: 40px;
  height: 40px;
  stroke: var(--gray-500);
  display: flex;
  justify-content: center;
  align-items: center;
}
