.infoSection {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 48px;
  gap: 16px;
}

.flexStart {
  justify-content: flex-start;

  .description {
    flex-grow: 0;
  }
}

.description {
  flex: 1 1;

  .descriptionText {
    display: -webkit-box;
    -webkit-line-clamp: 25;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-wrap;
  }
}

.titleBlock {
  display: flex;
  align-items: center;
  gap: 16px;
  white-space: nowrap;
  margin-bottom: 24px;
}

.chartContainer {
  min-width: 700px;
}
