.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 12px 0 16px;

  .currentPage {
    border-color: var(--primary-500);
    color: var(--primary-700);
  }

  .previous {
    svg {
      transform: rotate(90deg);
    }
  }

  .next {
    svg {
      transform: rotate(270deg);
    }
  }

  .recordsPerPage {
    bottom: 40px;
    right: 0px;
    width: 100px;
    background-color: red;

    &.hiddden {
      display: none;
    }
  }
}
