.header {
  width: 100vw;
  min-width: 1000px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  background-color: var(--primary-dark-900);
  border-bottom: 1px solid var(--primary-200);
  box-shadow: var(--shadow-lg);
  position: relative;
}

.logo {
  width: 150px;
  margin-right: auto;
}

.headerLink {
  margin-left: auto;
}

.divider {
  margin: 0 20px;
  width: 1px;
  height: 30px;
  background-color: var(--primary-200);
}

.avatarContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdownItem {
  cursor: not-allowed;
}
