.header {
  width: 100vw;
  min-width: 1000px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  background-color: var(--primary-dark-900);
  border-bottom: 1px solid var(--primary-200);
}

.logo {
  width: 150px;
  margin-right: auto;
}
